include manage.py README.md runtests.sh Makefile LICENSE
include Installation_Guide.md Release_Notes.md
include bin/bootstrap bin/gen_secret_key
include etc/requirements.txt
include etc/nginx/lgr-django.conf etc/systemd/lgr-django.service etc/systemd/lgr-django.conf etc/systemd/lgr-celery.service
include doc doc/conf.py doc/index.rst doc/Makefile
recursive-include doc/_static *
include docker/Dockerfile docker/start.sh
include src/lgr_web/resources/lgr.rng
include src/lgr_web/resources/lgr/README.txt
recursive-include src/lgr_editor/locale *
recursive-include src/lgr_editor/templates *
recursive-include src/lgr_editor/static *
recursive-include src/lgr_web/locale *
recursive-include src/lgr_web/templates *
recursive-include src/lgr_web/assets *
recursive-include src/lgr_web/settings *.template
recursive-include src/lgr_web/resources *.xml
recursive-include src/lgr_validator/templates *
recursive-include src/lgr_validator/locale *
recursive-include src/lgr_tools/templates *
recursive-include src/lgr_tools/locale *
recursive-include src/lgr_renderer/templates *
recursive-include src/lgr_renderer/locale *