<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block html_title %}{% trans 'LGR Tools' %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'chrome/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chrome/css/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'chrome/css/lgr.css' %}">

    <script src="{% static 'chrome/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'chrome/js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'chrome/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block html_head_more %}{% endblock %}
</head>
<body style="padding-top: 20px;">
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% block navbar-content %}
                    <div class="navbar-form navbar-left">
                        {% block navbar-left %}
                            <p>
                                {% if reset_mode %}
                                    {% url 'lgr_modes' as home %}
                                {% else %}
                                    {% url 'lgr_home' as home %}
                                {% endif %}
                                <a href="{{ home }}" title="{% trans 'Go to home screen' %}"
                                   class="show-tooltip"
                                   data-placement="bottom"><i class="glyphicon glyphicon-home"></i></a>
                                <a href="{{ home }}" title="{% trans 'Go to home screen' %}"
                                   class="show-tooltip"
                                   data-placement="bottom">{% trans "LGR Tools" %}</a>
                            </p>
                        {% endblock %}
                    </div>
                    <div class="navbar-form navbar-right">
                    {% block navbar-right %}
                        <a class="btn btn-default show-tooltip"
                           data-toggle="modal" data-target="#about-modal"
                           title="{% trans 'About LGR Toolset' %}" data-placement="bottom">
                            <i class="glyphicon glyphicon-star"></i> {% trans "About" %}
                        </a>
                        {% if user.is_authenticated %}
                            <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle pull-right" href="#" data-toggle="dropdown"
                               role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <span class="btn btn-block">{{ user.email }}</span>
                                </li>
                                <li class="dropdown-item">
                                    <a class="btn" href="{% url 'logout' %}">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                        {% trans 'Logout' %}
                                    </a>
                                </li>
                            </ul>
                            </div>
                        {% else %}
                            <a class="btn btn-default" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                {% trans 'Login' %}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
                {% endblock %}
                </div><!--/.nav-collapse -->
                </div>
    </nav>
{% endblock navbar %}

{% block messages %}
    {% include "_msgs.html" %}
{% endblock messages %}

{% block container %}
    <div class="container">
        <h1>{% block content-title %}{% endblock %}</h1>
        <hr class="header-sep"/>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <hr>
            <footer>
                <p class="pull-right"><small>&copy;</small></p>
                <p>{% blocktrans trimmed %}
                    If you have questions, please contact <a href="mailto:globalsupport@icann.org">globalsupport@icann.org</a>
                {% endblocktrans %}</p>
                {% include "_languages.html" %}
            </footer>
        {% endblock %}
    </div> <!-- /container -->
{% endblock container %}

<!-- About Modal -->
<div class="modal fade" id="about-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "About" %}</h4>
            </div>
            <div id="modal-body" class="modal-body">
                <iframe id="about-iframe" data-url="{% url 'about' %}" src="{% url 'about' %}" frameborder="0"
                        width="100%" height="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(window).resize(function () {
        $(document.body).css("margin-top", $(".navbar").height());
    }).resize();
    $(document).ready(function ($) {
        $(".confirm-prompt").click(confirmAction);
    });

    function confirmAction(el) {
        var msg = $(this).data('confirmation-prompt');
        if (!msg) {
            msg = 'Are you sure?';
        }
        return confirm(msg);
    }
</script>
{% block html_body_more %}{% endblock %}
</body>
</html>





