<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block html_title %}{% trans 'LGR Tools' %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'chrome/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chrome/css/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'chrome/css/lgr.css' %}">

    <script src="{% static 'chrome/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'chrome/js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'chrome/bootstrap/js/bootstrap.min.js' %}"></script>

    <style>
      .btn-negative {
          color: #fff;
          background-color: #222;
      }
      .btn-negative:hover {
          color: #e6e6e6;
          text-decoration: none;
      }
    </style>
    {% block html_head_more %}{% endblock %}
</head>
<body style="padding-top: 20px;">
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% block navbar-content %}
                    <div class="navbar-form navbar-left">
                        {% block navbar-left %}
                            <p>
                                {% if home_url_name %}
                                    {% url home_url_name as home %}
                                {% else %}
                                    {% url 'lgr_home' as home %}
                                {% endif %}
                                <a href="{{ home }}" title="{% trans 'Go to home screen' %}"
                                   class="show-tooltip"
                                   data-placement="bottom"><i class="glyphicon glyphicon-home"></i></a>
                                <a href="{{ home }}" title="{% trans 'Go to home screen' %}"
                                   class="show-tooltip"
                                   data-placement="bottom">{% trans "LGR Tools" %}</a>
                            </p>
                        {% endblock %}
                    </div>
                    <div class="navbar-form navbar-right">
                        {% if home_url_name %}
                            <a class="header-link" href="{% url 'lgr_home' %}">{% trans "Switch mode" %}</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'list_process' %}" class="btn btn-negative"><b>{% trans 'Tasks' %}</b></a>


                          <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle" href="#" data-toggle="dropdown"
                               role="button" aria-expanded="false">
                              {% trans 'Help' %}
                              <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item">
                                <a class="btn show-tooltip show-iframe-button" data-toggle="modal" data-target="#help-modal"
                                   title="{% trans 'Help' %}" data-placement="bottom">
                                  <i class="glyphicon glyphicon-info-sign"></i> {% trans "Instructions" %}
                                </a>
                              </li>
                              <li class="dropdown-item">
                                <a class="btn show-tooltip show-iframe-button" data-toggle="modal" data-target="#about-modal"
                                   title="{% trans 'About LGR Toolset' %}" data-placement="bottom">
                                  <i class="glyphicon glyphicon-star"></i> {% trans "About" %}
                                </a>
                              </li>
                            </ul>
                            </div>
                        {% endif %}
                        {% block navbar-right %}
                        <a class="btn btn-default show-tooltip show-iframe-button"
                           data-toggle="modal" data-target="#label-forms-modal"
                           title="{% trans 'Display all label forms' %}" data-placement="bottom">
                            <i class="glyphicon glyphicon-text-size"></i> {% trans "Label forms" %}
                        </a>
                        {% if user.is_authenticated %}
                            <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle pull-right" href="#" data-toggle="dropdown"
                               role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{ user.get_full_name }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="btn" href="{% url 'lgr_update_user' user_pk=user.pk %}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        {% trans 'Edit' %}
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="btn" href="{% url 'logout' %}">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                        {% trans 'Logout' %}
                                    </a>
                                </li>
                            </ul>
                            </div>
                        {% else %}
                            <a class="btn btn-default" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                {% trans 'Login' %}
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
                {% endblock %}
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
{% endblock navbar %}

{% block messages %}
    {% include "_msgs.html" %}
{% endblock messages %}

{% block container %}
    <div class="container">
        <h1>{% block content-title %}{% endblock %}</h1>
        <hr class="header-sep"/>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <hr>
            <footer>
                <p class="pull-right"><small>&copy;</small></p>
                <p>{% blocktrans trimmed %}
                    If you have questions, please contact <a href="mailto:globalsupport@icann.org">globalsupport@icann.org</a>
                {% endblocktrans %}</p>
                {% include "_languages.html" %}
            </footer>
        {% endblock %}
    </div> <!-- /container -->
{% endblock container %}

<!-- About Modal -->
<div class="modal fade" id="about-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "About" %}</h4>
            </div>
            <div id="modal-body" class="modal-body">
                <iframe id="about-iframe" data-url="{% url 'about' %}"
                        width="100%" height="100%" style="border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Help Modal -->
<div class="modal fade" id="help-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Help" %}</h4>
            </div>
            <div id="modal-body" class="modal-body">
                <iframe id="help-iframe" data-url="{% url 'help' %}"
                        width="100%" height="100%" style="border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Label forms Modal -->
{% include '_label_forms_modal.html' %}

<script>
    $(window).resize(function () {
        $(document.body).css("margin-top", $(".navbar").height());
    }).resize();
    $(document).ready(function ($) {
        $(".confirm-prompt").click(confirmAction);
    });

    function confirmAction(el) {
        let msg = $(this).data('confirmation-prompt');
        let action = $(this).data('confirmation-action');
        if (!msg) {
            msg = 'Are you sure?';
        }
        let result = confirm(msg);
        if (action && result) {
            eval(action)
        }
        return result;
    }

    function cleanInput (input) {
        input.closest('.col').find('input').val('');
    }

    // Set iframe src once the displaying button is clicked.
    // This avoids loading the css and js on page load
    $('.show-iframe-button').on("click", function() {
        iframe = $($(this).data('target') + ' iframe');
        iframe.attr('src', iframe.data('url'));
    });
</script>
{% block html_body_more %}{% endblock %}
</body>
</html>





