<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
		<link rel="stylesheet" href="{% static 'chrome/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'chrome/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'chrome/css/lgr.css' %}">

        <style>
            {# override the base style to remove the padding that is meant to account for the headers/footers #}
            body {
                padding-top: 1em;
                padding-bottom: 0;
            }
        </style>
        {% block html_head_more %}{% endblock %}
    </head>
    <body>
        {% block messages %}
            {% include "_msgs.html" %}
        {% endblock messages %}

        {% block container %}
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div> <!-- /container -->
        {% endblock container %}

        <script src="{% static 'chrome/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'chrome/js/vendor/jquery-ui.min.js' %}"></script>
        <script src="{% static 'chrome/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block html_body_more %}{% endblock %}
    </body>
</html>
