{% extends "lgr_editor/validate_lgr/_base.html" %}
{% load i18n static %}
{% load lgr_editor %}

{% block result_contents %}
  {% if result.repertoire %}
    <h4>{% trans "Erroneous conditional code points" %}</h4>
    <ul>
      {% for entry in result.repertoire %}
        <li>
        {% blocktrans trimmed with cp=entry.char|render_char rule_type=entry.rule_type rule=entry.rule variant=entry.variant|render_char %}
          Code point {{ cp }} has invalid {{ rule_type }} rule {{ rule }} for variant {{ variant }}
        {% endblocktrans %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% trans "Conditional variants OK" %}
  {% endif %}
{% endblock %}