{% extends "lgr_editor/validate_lgr/_base.html" %}
{% load i18n static %}
{% load lgr_editor %}

{% block result_contents %}
  <h4>{% trans "General stats" %}</h4>
  <ul>
    <li>
    {% blocktrans trimmed with nbr=result.stats.codepoint_number %}
      Number of code points: {{ nbr }}
    {% endblocktrans %}
    </li>

    <li>
    {% blocktrans trimmed with nbr=result.stats.range_number  %}
      Number of ranges: {{ nbr }}
    {% endblocktrans %}
    </li>
    {% if result.stats.range_number > 0 %}
      <li>
      {% blocktrans trimmed with largest=result.stats.largest_range|render_char largest_len=result.stats.largest_range_len %}
        Largest range: {{ largest }} (length: {{ largest_len }})
      {% endblocktrans %}
      </li>
    {% endif %}

    <li>
    {% blocktrans trimmed with nbr=result.stats.sequence_number %}
      Number of sequences: {{ nbr }}
    {% endblocktrans %}
    </li>
    {% if result.stats.sequence_number > 0 %}
      <li>
      {% blocktrans trimmed with largest=result.stats.largest_sequence|render_char largest_len=result.stats.largest_sequence_len %}
        Largest sequence: {{ largest }} (length: {{ largest_len }})
      {% endblocktrans %}
      </li>
    {% endif %}
  </ul>

  <h4>{% trans "Variants" %}</h4>
  <ul>
    <li>
    {% blocktrans trimmed with nbr=result.stats.mapping_number %}
      Total number of variant mappings: {{ nbr }}
    {% endblocktrans %}
    </li>
    <li>
    {% blocktrans trimmed with nbr=result.stats.average_variants %}
      Average number of variants per code point: {{ nbr }}
    {% endblocktrans %}
    </li>
    <li>
    {% blocktrans trimmed with largest_set=result.stats.largest_variant_set %}
      Largest variant set: {{ largest_set }}
    {% endblocktrans %}
    </li>
    {% if result.stats.variants_by_type %}
      <li>
        {% trans "Variants per type:" %}
        <ul>
          {% for variant_type, number in result.stats.variants_by_type.items %}
            <li>{% blocktrans %}Number of variants for type {{ variant_type }}: {{ number }}{% endblocktrans %}</li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>

  {% if result.stats.codepoints_by_tag %}
    <h4>{% trans "Tags" %}</h4>
    <ul>
      {% for tag_name, number in result.stats.codepoints_by_tag.items %}
        <li>{% blocktrans %}Number of code points for tag {{ tag_name }}: {{ number }}{% endblocktrans %}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h4>{% trans "Rules" %}</h4>
  <ul>
    <li>
    {% blocktrans trimmed with nbr=result.stats.rule_number %}
      Number of defined rules: {{ nbr }}
    {% endblocktrans %}
    </li>
  </ul>
{% endblock %}