{% extends "lgr_editor/validate_lgr/_base.html" %}
{% load lgr_editor %}

{% block result_contents %}
  {% if result.repertoire %}
    <h4>Possibly erroneous characters</h4>
    <ul>
      {% for char, entries in result.repertoire.items %}
        <li>Character {{ char|render_char }}:
          <ul>
            {% for warning in entries.warnings %}
              <li>Warning: {{ warning|exc_to_text }}</li>
            {% endfor %}
            {% for error in entries.errors %}
              <li>Error: {{ error|exc_to_text }}</li>
            {% endfor %}
            {% for variant, errors in entries.variants.items %}
              <li>Variant: {{ variant|render_char }}</li>
              {% for error in errors %}
                <li>Error: {{ error|exc_to_text }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>LGR rebuild OK</p>
  {% endif %}
{% endblock %}