{% extends "lgr_editor/validate_lgr/_base.html" %}
{% load lgr_editor %}

{% block result_contents %}
  {{ result }}
  {% if result.repertoire %}
    <h4>Invalid characters</h4>
    <ul>
      {% for char, entries in result.repertoire.items %}
        <li>Invalid character {{ char|render_char }}:
          <ul>
            {% for error in entries.errors %}
              <li>Error: {{ error|exc_to_text }}</li>
            {% endfor %}
            {% for variant, errors in entries.variants %}
              <li>Variant: {{ variant|render_char }}</li>
              {% for error in errors %}
                <li>Error: {{ error|exc_to_text }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}