# Core stuff
Django==2.2.1
django-widget-tweaks==1.4.3
celery[redis]==4.3.0
django-redis-cache==2.0.0
django-autocomplete-light==3.5.1
vine==1.3.0
django-cleanup==5.1.0

# LGR/Unicode modules
picu==1.1
munidata==2.0.0
lgr-core==3.0.0

# Natural sorting implementation
natsort==6.0.0

pycountry==20.7.3
