# Core stuff
celery[redis]==5.2.3
django<3.2
django-autocomplete-light
django-celery-beat<2.3.0 # Drops Django 3.1
django-celery-results
django-cleanup<6.0.0 # Drops Django 3.1
django-redis
django-redis-cache
django-widget-tweaks<1.4.11 # Drops Django 3.1
vine


# LGR/Unicode modules
lgr-core @ git+https://github.com/icann/lgr-core.git@v6.1.3
munidata
picu


# Natural Sorting Implementation
natsort


# ICANN Login
okta-jwt-verifier


# Notes

# django-celery-beat / django-cleanup / django-widget-tweaks doesn't pin correctly the requirements
# for Django in their projects, so we have to pin them here to keep a compatible version for each.

# Dependencies issues with django-redis-cache. It is not maintained anymore, and clashed with
# celery, as it pinned redis<4. Also not supporting Django 4. It would be required to replace
# this dependency to properly update the dependency for Django beyond 3.2.
