# Django
django<6
django-autocomplete-light   # Does not support officially Django 5.2 yet
django-cleanup              # Does not support officially Django 5.2 yet
django-redis
django-widget-tweaks        # Does not support officially Django 5.2 yet


# Celery
celery[redis]
django-celery-beat
django-celery-results


# LGR/Unicode modules
lgr-core @ git+https://github.com/icann/lgr-core.git@v6.1.3
munidata
picu


# Natural Sorting Implementation
natsort


# ICANN Login
okta-jwt-verifier
