# Core stuff
Django==3.1.8
django-widget-tweaks==1.4.8
celery[redis]==5.0.5
django-redis-cache==3.0.0
django-autocomplete-light==3.5.1
vine==5.0.0
django-cleanup==5.1.0

# LGR/Unicode modules
picu==1.2
munidata==2.1.0
lgr-core>=4.0.0

# Natural sorting implementation
natsort==7.1.1
