# Core stuff
Django==3.1.14
django-widget-tweaks==1.4.8
celery[redis]==5.2.3
django-redis-cache==3.0.0
django-autocomplete-light==3.9.4
vine==5.0.0
django-cleanup==5.1.0
django-celery-results==2.4.0
django-celery-beat==2.2.0

# LGR/Unicode modules
picu==1.4
munidata==2.3.1
lgr-core>=6.0.0

# Natural sorting implementation
natsort==7.1.1

# ICANN login
okta-jwt-verifier==0.2.3
