{% extends "_skel.html" %}
{% load i18n %}

{% block html_title %}{% trans 'LGR Tools password reset' %}{% endblock %}

{% block content-title %}
    {% trans "Reset password" %}
{% endblock %}

{% block content %}
    <p>{% trans "A link has been sent to your email address." %}</p>
    <button class="btn btn-primary" onclick="goBack()">Go Back</button>
{% endblock content %}

{% block html_body_more %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}