{% extends "_base.html" %}
{% load i18n %}

{% block html_title %}{% trans 'LGR Tools password reset' %}{% endblock %}

{% block content-title %}
    {% trans "Reset password" %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {% include "lgr_editor/_form_field.html" with field=form.new_password1 control_width=8 %}
            {% include "lgr_editor/_form_field.html" with field=form.new_password2 control_width=8 %}
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </form>
    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
