{% extends "_base.html" %}
{% load i18n %}

{% block html_title %}{% trans 'LGR Tools password reset' %}{% endblock %}

{% block content-title %}
    {% trans "Reset password" %}
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" action="{% url 'password_reset' %}"">
        {% csrf_token %}
        {% include "lgr_editor/_form_field.html" with field=form.email control_width=8 %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">{% trans "Reset" %}</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}