{% extends "_base.html" %}
{% load i18n %}

{% block html_title %}{% trans 'IDN review tool admin' %}{% endblock %}

{% block content-title %}
    {% trans 'IDN review tool admin' %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% block rz-lgr-active %}{% endblock %}">
            <a href="{% url 'lgr_admin_rz_lgr' %}">{% trans "Root Zone LGRs" %}</a>
        </li>
        <li role="presentation" class="{% block ref-lgr-active %}{% endblock %}">
            <a href="{% url 'lgr_admin_ref_lgr' %}">{% trans "Reference LGRs" %}</a>
        </li>
        <li role="presentation" class="{% block msr-active %}{% endblock %}">
            <a href="{% url 'lgr_admin_msr' %}">{% trans "Validating Repertoires" %}</a>
        </li>
        <li role="presentation" class="{% block user-management-active %}{% endblock %}">
            <a href="{% url 'lgr_admin_user_management' %}">{% trans "User management" %}</a>
        </li>
{#        <li role="presentation" class="{% block unicode-versions-active %}{% endblock %}">#}
{#            <a href="{% url 'lgr_admin_unicode_versions' %}">{% trans "Unicode Versions" %}</a>#}
{#        </li>#}
        <li role="presentation" class="{% block settings-active %}{% endblock %}">
            <a href="{% url 'lgr_admin_settings' %}">{% trans "Tool Setting" %}</a>
        </li>
    </ul>

    <div>
        {% block content-pane %}
        {% endblock content-pane %}
    </div>
{% endblock content %}

