{% load i18n %}
<div class="modal fade" id="reflgr-member-modal-{{ member_pk }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Update Reference LGR member" %}</h4>
            </div>
            <div id="reflgr-member-modal-body-{{ member_pk }}" class="modal-body" style="height: 85vh;">
                <iframe id="reflgr-member-modal-iframe-{{ member_pk }}" data-url="{% url 'lgr_admin_update_ref_lgr' lgr_pk=member_pk %}"
                        width="100%" height="98%" style="border: none;"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->