{% extends "lgr_manage/_idn_table_review_admin_base.html" %}
{% load i18n static %}

{% block ref-lgr-active %}active{% endblock %}

{% block content-pane %}
    <h2>{% trans 'Existing Reference LGRs' %}</h2>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">{% trans 'Name' %}</th>
            <th scope="col">
                <div class="reflgr-member-show-header">
                    <div class="reflgr-member-show-name">{% trans 'Files' %}</div>
                    <div class="reflgr-member-show-language-script">
                        {% trans 'Language/script tag' %}
                    </div>
                </div>
            </th>
            <th scope="col">{% trans 'Active' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for ref_lgr in object_list %}
            <tr>
                <td>
                    <a href="{{ ref_lgr.display_url }}" target="_blank" rel="noopener noreferrer">
                        {{ ref_lgr.name }}
                    </a>
                </td>
                <td class="ref-lgr-member-column">
                    <a href="{{ ref_lgr.display_url }}" target="_blank" rel="noopener noreferrer">
                        {{ ref_lgr.filename }}
                    </a>
                    {% for lgr in ref_lgr.repository.all %}
                        {% if forloop.counter == 5 %}
                            <div id="remain-{{ ref_lgr.pk }}" class="collapse lgr-collapsed" data-pk="{{ ref_lgr.pk }}">
                        {% endif %}
                        <div class="reflgr-member-show">
                            <div class="reflgr-member-show-name">
                                <a href="{{ lgr.display_url }}" target="_blank" rel="noopener noreferrer">
                                    {{ lgr.filename }}
                                </a>
                                <!-- Member update form Modal -->
                                {% include 'lgr_manage/_ref_lgr_member_modal.html' with member_pk=lgr.pk %}
                                <a class="btn show-tooltip"
                                   data-toggle="modal" data-target="#reflgr-member-modal-{{ lgr.pk }}"
                                   title="{% trans 'Edit Reference LGR member' %}" data-placement="top">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </div>
                            <div class="reflgr-member-show-language-script">
                                {{ lgr.language_script }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if ref_lgr.repository.all|length > 4 %}
                        </div>
                        <a href="#remain-{{ ref_lgr.pk }}" data-toggle="collapse">
                            <div id="collapsed-text-{{ ref_lgr.pk }}"><b><u>
                                {% blocktrans trimmed with remain=ref_lgr.repository.all|length|add:"-4" %}
                                    Display {{ remain }} more files
                                {% endblocktrans %}</u></b>
                            </div>
                            <span id="collapsed-icon-{{ ref_lgr.pk }}" class="glyphicon"></span>
                        </a>
                    {% endif %}
                <td>
                    {% if ref_lgr.active %}
                        <span class="glyphicon glyphicon-ok-sign" id="status_{{ ref_lgr.pk }}"></span>
                    {% else %}
                        <span class="empty" id="status_{{ ref_lgr.pk }}"></span>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{% url "lgr_admin_delete_ref_lgr" lgr_pk=ref_lgr.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default confirm-prompt"
                                data-confirmation-prompt="{% blocktrans with lgr=ref_lgr.name %}Are you sure you want to delete LGR {{ lgr }}?{% endblocktrans %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        {% empty %}
            <tr>
                <td colspan="3">{% trans 'No Reference LGR.' %}</td>
            </tr>
        {% endfor %}
    </table>
    {% trans "Select Active Reference LGR" as title %}
    {% include "lgr_manage/_form_active_choice.html" with url="lgr_admin_isactive_ref_lgr" title=title %}

    <h2>{% trans 'New Reference LGR' %}</h2>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.ref_lgr_members.media }}
        {% include "lgr_editor/_form_field.html" with field=form.name control_width=8 %}
        {% include "lgr_editor/_form_field.html" with field=form.file control_width=8 %}
        {% include "lgr_editor/_form_field.html" with field=form.members control_width=8 %}
        <h3 id="reflgr-members-title">New Reference LGR Members</h3>
        <div class="empty_form reflgr-members-invisible">
            <div class="reflgr-members-create">
                {% include "lgr_editor/_form_field.html" with field=form.ref_lgr_members.empty_form.file_name control_width=8 no_remove=True %}
                {% include "lgr_editor/_form_field.html" with field=form.ref_lgr_members.empty_form.language_script control_width=8 %}
            </div>
        </div>
        <div class="reflgr-members-list">
            {{ form.ref_lgr_members.management_form }}
        </div>
        <button id="submit" type="submit" class="btn btn-primary">{% trans "Add" %}</button>
    </form>
{% endblock content-pane %}

{% block html_body_more %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            function enable_submit_button() {
                if ($('#id_name').val() !== "" &&
                    $('#id_file').prop('files').length > 0 &&
                    $('#id_members').prop('files').length > 0 &&
                    validateLanguageScripts()) {
                    $('#submit').removeAttr('disabled')
                } else {
                    $('#submit').attr('disabled', 'disabled')
                }
                if ($('#id_members').prop('files').length > 0) {
                    $('#reflgr-members-title').show()
                } else {
                    $('#reflgr-members-title').hide()
                }
            }

            function validateLanguageScripts() {
                let allFilled = $('.reflgr-members-list').find("[id$='language_script']").filter(function() {
                    return $.trim($(this).val()).length == 0
                }).length == 0
                return allFilled
            }

            $('#id_name').change(function () {
                enable_submit_button()
            });

            $('#id_file').change(function () {
                enable_submit_button()
            });

            $('#id_members').change(function () {
                enable_submit_button()
            });

            $("#id_form-0-language_script").change(function () {
                enable_submit_button()
            });
            enable_submit_button();

            $("#id_members").change(function (data, handler) {
                // get parent fieldset
                const fieldset_template = $('.empty_form');
                for (var i = 0; i < data.target.files.length; i++) {
                    let current_fieldset = fieldset_template;
                    const file = data.target.files[i]
                    current_fieldset = fieldset_template.clone(true);
                    current_fieldset = current_fieldset.html().replace(/__prefix__/g, i);
                    $('.reflgr-members-list').append(current_fieldset);
                    $('#id_form-'+i+'-file_name').val(file.name)
                    $('#id_form-'+i+'-language_script').change(function () {
                        enable_submit_button()
                    })
                }
                $('#id_form-TOTAL_FORMS').val(data.target.files.length)
            });

           $("[id^='reflgr-member-modal-']").on('hidden.bs.modal', function () {
               window.location.reload();
           });
        });
    </script>
{% endblock html_body_more %}
