{% extends "_base_noframe.html" %}
{% load i18n %}

{% block content %}
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "lgr_editor/_form_field.html" with field=form.file %}
        {% include "lgr_editor/_form_field.html" with field=form.language_script %}
        <div class="col-sm-12 text-right">
            <button id="btn-add-range" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </form>
{% endblock content %}

{% block html_body_more %}
    {{ block.super }}
    {{ form.media }}
{% endblock html_body_more %}