{% extends "lgr_manage/_idn_table_review_admin_base.html" %}
{% load i18n %}

{% block settinfs-active %}active{% endblock %}

{% block content-pane %}
  <h2>{% trans 'Settings' %}</h2>

  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "lgr_editor/_form_field.html" with field=form.variant_calculation_limit control_width=8 %}
    <button id="submit" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>

  <h3>{% trans 'More' %}</h3>
  <form method="post" action="{% url "lgr_admin_calculate_indexes" %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-refresh" data-toggle="tooltip" dfrom django.utils.translation import ugettext_lazy as _
ata-placement="top"
            title="{% trans 'Trigger the calculation of the index variant of the existing TLDs' %}">&nbsp;
        {% trans 'Refresh index variant labels' %}
      </span>
    </button>
    </span>
  </form>
{% endblock content-pane %}
