{% extends "lgr_manage/_idn_table_review_admin_base.html" %}
{% load i18n %}

{% block settings-active %}active{% endblock %}

{% block content-pane %}
  <h2>{% trans 'Settings' %}</h2>

  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "lgr_editor/_form_field.html" with field=form.variant_calculation_limit control_width=4 %}
    {% include "lgr_editor/_form_field.html" with field=form.variant_calculation_max control_width=4 %}
    {% include "lgr_editor/_form_field.html" with field=form.variant_calculation_abort control_width=4 %}
    <button id="submit" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
  </form>

  <h3>{% trans 'Index variant labels calculation' %}</h3>
  <form method="post" action="{% url "lgr_admin_calculate_indexes" %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-refresh" data-toggle="tooltip" data-placement="top"
            title="{% trans 'Trigger the calculation of the index variant of the existing TLDs' %}">
        {% trans 'Refresh' %}
      </span>
    </button>
    {% if index_report %}
      <a href="{{ index_report.to_url }}?next={{ request.path }}"
         class="btn btn-default">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      {% trans 'Download' %}
      </a>
    {% endif %}
  </form>
{% endblock content-pane %}
