{% extends "_base.html" %}
{% load i18n widget_tweaks %}

{% block html_title %}{% trans 'IDN Table Review reports' %}{% endblock %}

{% block html_head_more %}
    <link rel="stylesheet" href="//cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.css"/>
{% endblock %}

{% block navbar-right %}
    <a class="header-link" href="{% url 'lgr_modes' %}">{% trans "Switch mode" %}</a>
    {{ block.super }}
{% endblock %}

{% block content-title %}
    {{ title }}
{% endblock %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            The following files contains IDN review reports.<br/>
            <strong>
                <i class="glyphicon glyphicon-alert"></i> Note that these files could be cleaned up regularly.
            </strong>
        {% endblocktrans %}
    </p>
    <table id="files" class="display table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% trans 'File' %}</th>
            <th>{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for file in storage %}
            <tr>
                <td>
                    <a href="{% url 'download_file' storage=storage_type filename=file folder=folder %}?display=true&next={{ request.path }}"
                       target="_blank" rel="noopener noreferrer">
                        {{ file }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'download_file' storage=storage_type filename=file folder=folder %}?next={{ request.path }}"
                       class="btn btn-default">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                    </a>
                    &nbsp;
                    <a href="{% url 'delete_file' storage=storage_type filename=file folder=folder %}?next={{ request.path }}"
                       class="delete_file btn btn-default confirm-prompt"
                       data-confirmation-prompt="{% blocktrans %}Are you sure you want to delete report {{ file }}?{% endblocktrans %}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="btn btn-primary" href="{% url back_url %}">{% trans "Back" %}</a>
    &nbsp;
    {% if zip %}
        <span data-toggle="tooltip" data-placement="top"
                {# put tooltip around button as it won't work on disabled button #}
                {% if not completed %}
              title="{% trans 'Wait until full report is completed for the file to be valid' %}">
                {% else %}
                    title="{% trans 'Get the zip file containing all generated reports' %}">
                {% endif %}
        <a href="{% url 'download_file' storage=storage_type filename=zip folder=folder %}?next={{ request.path }}"
           class="btn btn-default{% if not completed %} disabled{% endif %}"
           {% if not completed %}aria-disabled="true"{% endif %}>
                <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;{% trans 'Download all' %}
            </a>
        </span>
    {% endif %}
{% endblock content %}


{% block html_body_more %}
    {{ block.super }}
    <script src="//cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#files').DataTable({
                "responsive": true,
                "info": false,
                "scrollX": false,
                "searching": true,
                "lengthMenu": [[20, 50, 100, 1000, -1], [20, 50, 100, 1000, "All"]],
                "columns": [
                    {
                        "orderable": true,
                        "searchable": true
                    },
                    {
                        "orderable": false,
                        "searchable": false
                    }
                ]
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        })
    </script>
{% endblock %}