{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n %}

{% block content %}
{% url 'codepoint_list' lgr_pk=lgr_object_1.pk model=lgr_object_1.model_name as lgr_1_url %}
{% url 'codepoint_list' lgr_pk=lgr_object_2.pk model=lgr_object_2.model_name as lgr_2_url %}
<h2>{% blocktrans with lgr_1_name=lgr_object_1.name lgr_2_name=lgr_object_2.name %}The {{ comp_type }} of <a href="{{ lgr_1_url }}">{{ lgr_1_name }}</a> with <a href="{{ lgr_2_url }}">{{ lgr_2_name }}</a> need editing to be valid.{% endblocktrans %}</h2>
<p>{% trans "Please download and edit it manually before importing it in LGR Toolset." %}</p>

<div>
  <p>{% trans "To help, here is the error log from the validation:" %}</p>
  <div class="alert alert-error">{{ error|linebreaks }}</div>
</div>

<div class="text-right">
    <a href="{{ report.to_url }}?next={{ request.path }}"
       class="btn btn-default show-tooltip"
       title="{% blocktrans %}Download invalid LGR {{ comp_type }} file{% endblocktrans %}" data-placement="bottom">
        <i class="glyphicon glyphicon-save"></i>
        {% trans "Download" %}
    </a>
</div>
{% endblock content %}
