{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "lgr_editor/_form_field.html" with field=form.lgr_1 %}
        {% include "lgr_editor/_form_field.html" with field=form.lgr_2 %}
        {% include "lgr_editor/_form_field.html" with field=form.action %}
        <div id='dump_box'>
            {% include "lgr_editor/_form_field_checkbox.html" with field=form.full_dump label_width=7 field_width=8 %}
        </div>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">{% trans "Compare" %}</button>
        </div>
    </form>
    <p>
        {% blocktrans trimmed %}
            <strong class="text-danger"><i class="glyphicon glyphicon-alert"></i> Note that comparison will be performed only between two LGR sets or two simple LGRs, union and intersection are not available for LGR sets.</strong>
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block html_body_more %}
    {{ block.super }}
    <script type="text/javascript">
        // TODO rewrite this....
        // wrap and unwrap needed in replacement of hide and show for firefox (and others?..)
        jQuery(document).ready(function($) {
            function show_full_dump() {
                if($('#id_action option:selected').text() == 'Diff'){
                    $('#dump_box').show(500);
                } else {
                    $('#dump_box').hide(500);
                }
            };
            function hide_option(selector) {
                $(selector).wrap('<span/>');
                $(selector).attr('data-hidden', true);
                $(selector).removeAttr('selected');
            };
            function show_option(selector) {
                $(selector + '[data-hidden=true]').unwrap();
                $(selector).attr('data-hidden', false);
            };
            function update_choices() {
                var is_set = $('#id_lgr_1 option:selected').data('is-set');
                // unwrap then wrap each option to avoid double wraps
                show_option('#id_lgr_2 option');
                hide_option('#id_lgr_2 option');

                // disable set / no set LGR from LGR list
                show_option('#id_lgr_2 option[data-is-set=' + is_set + ']');

                // remove selected LGR from LGR2 list
                $('#id_lgr_2 option[data-is-set=' + is_set + ']').each(function() {
                    var lgr1_name = $('#id_lgr_1 option:selected').text();
                    if ($(this).text() == lgr1_name) {
                        hide_option(this);
                    };
                });

                // select an available value
                if($('#id_lgr_2 option:selected').attr('data-hidden') && $('#id_lgr_2 option[data-hidden=false]').length > 0) {
                    $('#id_lgr_2 option[data-hidden=false]')[0].selected = true;
                };

                show_option('#id_action option');
                if (is_set == 'True') {
                    $('#id_action option:selected').removeAttr('selected');

                    hide_option('#id_action option[value=UNION]');
                    hide_option('#id_action option[value=INTERSECTION]');

                    $('#id_action option[value=DIFF]')[0].selected = true;
                    $('#id_action').attr('disabled', true);  // disable edition but need to re-enable before submit
                } else {
                    show_option('#id_action option[value=UNION]');
                    show_option('#id_action option[value=INTERSECTION]');

                    $('#id_action').removeAttr('disabled');
                };
            };

            $('#id_lgr_1').change(function(){update_choices()});
            $('form').bind('submit', function () {
                $('#id_action').removeAttr('disabled');
            });
            $('#id_action').click(function(){show_full_dump()});
            show_full_dump();
            update_choices();
        });
    </script>
{% endblock html_body_more %}