{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n widget_tweaks %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "lgr_editor/_form_field.html" with field=form.lgr_1 %}
        {% include "lgr_editor/_form_field.html" with field=form.lgr_2 %}
        {% include "lgr_editor/_form_field.html" with field=form.labels %}
        <p>{% blocktrans %}As the computing may be very long, we will warn by e-mail once the result can be downloaded.{% endblocktrans %}</p>
        {% include "lgr_editor/_form_field_checkbox.html" with field=form.collision label_width=7 field_width=8 %}
        {% include "lgr_editor/_form_field_checkbox.html" with field=form.with_rules label_width=7 field_width=8 %}
        <div id='dump_box'>
            {% include "lgr_editor/_form_field_checkbox.html" with field=form.full_dump label_width=7 field_width=8 %}
        </div>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">{% trans "Get diff" %}</button>
        </div>
    </form>
    <p>
        {% blocktrans trimmed %}
            <strong class="text-danger"><i class="glyphicon glyphicon-alert"></i> Note that diff tool is not available for LGR sets.</strong>
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block html_body_more %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            function check_collision() {
                if($('#id_collision').is(':checked')){
                    $('#dump_box').show(500);
                } else {
                    $('#dump_box').hide(500);
                }
            };
            function hide_option(selector) {
                $(selector).wrap('<span/>');
                $(selector).attr('data-hidden', true);
                $(selector).removeAttr('selected');
            };
            function show_option(selector) {
                $(selector + '[data-hidden=true]').unwrap();
                $(selector).attr('data-hidden', false);
            };
            function update_choices() {
                var is_set = $('#id_lgr_1 option:selected').val();

                show_option('#id_lgr_2 option');

                // remove selected LGR from LGR2 list
                $('#id_lgr_2 option[value=' + is_set + ']').each(function() {
                    var lgr1_name = $('#id_lgr_1 option:selected').text();
                    if ($(this).text() == lgr1_name) {
                        hide_option(this);
                    };
                });

                // select an available value
                if($('#id_lgr_2 option:selected').attr('data-hidden') && $('#id_lgr_2 option[data-hidden=false]').length > 0) {
                    $('#id_lgr_2 option[data-hidden=false]')[0].selected = true;
                };
            };

            $('#id_lgr_1').change(function(){update_choices()});
            $('#id_collision').click(function(){check_collision()});
            $('#id_collision').show(function(){check_collision()});
            update_choices();
        });
    </script>
{% endblock html_body_more %}
