{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n %}

{% block content %}
{% url 'codepoint_list' lgr_pk=lgr_object.pk model=lgr_object.model_name as lgr_url %}
<h2>
{% blocktrans trimmed with lgr_name=lgr_object.name %}
    Computing collisions on labels provided in file {{ labels_file }} in LGR <a href="{{ lgr_url }}">{{ lgr_name }}</a>
{% endblocktrans %}
{% if with_tlds %}
    {% blocktrans %} and also check with <a href="{{ icann_tlds }}">ICANN TLDs</a>{% endblocktrans %}
{% endif %}
</h2>
<div>
{% blocktrans %}As the computing may be very long, once completed, an e-mail will be sent at the provided address: {{ email }}{% endblocktrans %}</div>

{% endblock content %}
