{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n %}

{% block content %}
    {% url 'codepoint_list' lgr_pk=lgr_object.pk model=lgr_object.model_name as lgr_url %}
<h2>
    {% blocktrans with lgr_name=lgr_object.name %}Computing cross-script variants on labels provided in file {{ labels_file }} in LGR <a href="{{ lgr_url }}">{{ lgr_name }}</a>{% endblocktrans %}
</h2>
<div>
  {% url 'list_process' as task_status_url %}
  {% blocktrans trimmed  %}
    The computing may be very long, you can follow your task progression on the
    <a href="{{ task_status_url }}">task status page</a>.
  {% endblocktrans %}
</div>

{% endblock content %}
