{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n %}

{% block content %}
{% url 'codepoint_list' lgr_pk=lgr_object_1.name model=lgr_object_1.model_name as lgr_1_url %}
{% url 'codepoint_list' lgr_pk=lgr_object_2.name model=lgr_object_2.model_name as lgr_2_url %}
<h2>
    {% blocktrans trimmed with lgr_1_name=lgr_object_1.name lgr_2_name=lgr_object_2.name %}
        Computing diff on labels provided in file {{ labels_file }} between <a href="{{ lgr_1_url }}">{{ lgr_1_name }}</a>
        and <a href="{{ lgr_2_url }}">{{ lgr_2_name }}</a>
    {% endblocktrans %}
</h2>
<div>
{% url 'list_process' as task_status_url %}
<p>{% blocktrans trimmed  %}
  The computing may be very long, you can follow your task progression on the
  <a href="{{ task_status_url }}">task status page</a>.
{% endblocktrans %}</p>
</div>

{% endblock content %}
