{% extends base_template|default:"lgr_advanced/_base.html" %}
{% load i18n %}

{% block content %}
{% url 'codepoint_list' lgr_id=lgr_1.name as lgr_1_url %}
{% url 'codepoint_list' lgr_id=lgr_2.name as lgr_2_url %}
<h2>{% blocktrans with lgr_1_name=lgr_1.name lgr_2_name=lgr_2.name %}Computing diff on labels provided in file {{ labels_file }} between <a href="{{ lgr_1_url }}">{{ lgr_1_name }}</a> and <a href="{{ lgr_2_url }}">{{ lgr_2_name }}</a> {% endblocktrans %}</h2>
<div>
{% blocktrans %}As the computing may be very long, once completed, an e-mail will be sent at the provided address: {{ email }}{% endblocktrans %}</div>

{% endblock content %}
