{% load i18n %}
<p>
    {% blocktrans %}
        This application provides a convenient interface for browsing
        and editing <abbr title="Label Generation Ruleset">LGR</abbr>’s conforming to the
        <a href="https://www.rfc-editor.org/rfc/rfc7940.txt" target="_blank">Representing Label Generation Rulesets using XML</a>
        specification.
    {% endblocktrans %}
</p>
<h4>{% trans 'Supported Unicode versions:' %}</h4>
<ul>
    {% for version in output.versions %}
        <li>{{ version }}</li>
    {% endfor %}
</ul>

<br/>
<p><i>{% trans 'This toolset was implemented by <a href="http://www.viagenie.ca/" target="_blank">Viagénie</a> and Wil Tan on an ICANN contract.' %}</i></p>
