{% extends "lgr_editor/_editor_base.html" %}
{% load i18n %}
{% load cache %}

{% block pane-cp-active %}active{% endblock %}

{% block content-pane %}
    {% if not is_set %}
        <div class="text-right" id="add-codepoint">
            {% if not variants_ok %}
                {% url 'populate_variants' lgr_id=lgr_id as populate_variants_url %}
                <a href="{{ populate_variants_url }}" class="btn btn-primary" title="Populate the symmetric and transitive variants"> {% trans "Populate variants" %}</a>
            {% endif %}
            {% if has_range %}
                {% url 'expand_ranges' lgr_id=lgr_id as expand_ranges_url %}
                <a href="{{ expand_ranges_url }}" class="btn btn-primary" title="Expand all ranges" >{% trans "Expand range(s)" %}</a>
            {% endif %}
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#add-codepoint-modal">{% trans "Add code point(s)" %}</a>
        </div>
    {% endif %}
    <table id="codepoints" class="display">
        <thead>
            <tr>
                <th>{% trans "Code point" %}</th>
                <th>{% trans "Character Name" %}</th>
                <th>{% trans "Comments" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>
    </table>

    {#### BEGIN add codepoint modal ####}
    {% if not is_set %}
    <div class="modal fade" id="add-codepoint-modal">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" id="close-modal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add code point(s)" %}</h4>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#addcp" aria-controls="addcp" role="tab" data-toggle="tab">{% trans "Code point" %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#addrange" aria-controls="addrange" role="tab" data-toggle="tab">{% trans "Code point range" %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#addfromscript" aria-controls="addfromscript" role="tab" data-toggle="tab">{% trans "Code point from script" %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#import" aria-controls="import" role="tab" data-toggle="tab">{% trans "Import from file" %}</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="addcp">
                            <br>
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% include "lgr_editor/_form_field.html" with field=cp_form.codepoint label_width=4 field_width=8 %}
                                {% include "lgr_editor/_form_field_checkbox.html" with field=cp_form.override_repertoire label_width=4 field_width=8 %}
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-primary" name="add_cp">{% trans "Add Code Point" %}</button>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="addrange">
                            <iframe id="range-iframe" data-url="{% url 'add_range' lgr_id %}" src="{% url 'add_range' lgr_id %}" frameborder="0" width="100%"></iframe>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="addfromscript">
                            <iframe id="from-script-iframe" data-url="{% url 'add_from_script' lgr_id %}" src="{% url 'add_from_script' lgr_id %}" frameborder="0" width="100%" style="height: 400px;"></iframe>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="import">
                            <iframe id="import-file-iframe" data-url="{% url 'import_from_file' lgr_id %}" src="{% url 'import_from_file' lgr_id %}" frameborder="0" width="100%"></iframe>
                        </div>
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}
    {#### END add codepoint modal ####}

{% endblock content-pane %}

{% block html_body_more %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $("#add-codepoint-modal")
                    .on('show.bs.modal', function(event) {
                        // reset iframe URLs whenever modal is shown (so we won't get stale content)
                        $(this).find('iframe').each(function() {
                            this.src = $(this).data('url');
                        });
                    })
                    .on('shown.bs.modal', function(event) {
                        // resize iframes
                        var modal_body = $(this).find(".modal-body");
                        $("#range-iframe").outerHeight(modal_body.height() - modal_body.find(".nav-tabs").outerHeight() - 5);
                        $("#import-file-iframe").outerHeight(modal_body.height() - modal_body.find(".nav-tabs").outerHeight() - 5);
                        $("#from-script-iframe").outerHeight(modal_body.height() - modal_body.find(".nav-tabs").outerHeight() - 5);
                    })
                    .on('hide.bs.modal', function(event) {
                        ['import-file-iframe', 'from-script-iframe'].forEach(function(frame) {
                            var iframe = $('#' + frame);
                            var tmp_lgr = $('#id_tmp_lgr', iframe.contents()).attr('value');
                            var url = '{% url "delete_lgr" "TODO_REPLACE" %}'.replace('TODO_REPLACE', tmp_lgr);
                            if (tmp_lgr) {
                                $.ajax({
                                    type: "GET",
                                    url: url,
                                });
                            };
                        })
                    });

            $("#codepoints tr[data-url]").click(function() {
                window.location.href = $(this).data('url');
            });

            {% if lgr_set_id %}
                {% url 'codepoint_list_json' lgr_set_id=lgr_set_id lgr_id=lgr_id as json_url %}
            {% else %}
                {% url 'codepoint_list_json' lgr_id=lgr_id as json_url %}
            {% endif %}

            $('#codepoints').DataTable({
                "ajax": "{{ json_url }}",
                'responsive': true,
                "info": false,
                "scrollX": false,
                "lengthMenu": [[500, 1000, -1], [500, 1000, "All"]],
                "columns": [{
                    "data": "cp_disp",
                    "render": function(data, type, row) {
                        if (!row.is_range) {
                            {% trans "Variant(s)" as variant_trans %}
                            return data + ' <span class="variant_count">' + row.variant_number + '&nbsp;{{ variant_trans|escapejs }}</span>'
                        }
                        return data
                    }
                }, {
                    "data": "name"
                }, {
                    "data": "comment"
                }, {
                    "data": "actions",
                    "orderable": false,
                    "searchable": false,
                    "render": function(data, type, row) {
                        {% trans "See code point" as see_cp_trans %}
                        out = '<a href="' + row.actions[0] + '" class="btn btn-primary btn-block">{{ see_cp_trans|escapejs }}</a>'
                        if (row.is_range) {
                            {% trans "Expand range" as expand_range_trans %}
                            out += '<a href="' + row.actions[1] + '" class="btn btn-primary btn-block">{{ expand_range_trans|escapejs }}</a>'
                        }
                        return out
                    }
                }]
            });
            $('#codepoints').addClass('table table-striped table-bordered');
        });
    </script>
{% endblock html_body_more %}
