{% extends "_base.html" %}
{% load i18n %}

{% block content %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% include "lgr_editor/_form_field.html" with field=form.name %}
        {% include "lgr_editor/_form_field.html" with field=form.validating_repertoire %}
        {% if lgrs %}
            <strong>{% trans "These LGRs are already created. Click on one to access it." %}</strong>
            <ul>
                {% for lgr in lgrs %}
                    <li>
                        <a href="{% url 'codepoint_list' lgr.name %}">{% blocktrans with lgr_name=lgr.name %}{{ lgr_name }}{% endblocktrans %}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
        </div>
    </form>
{% endblock content %}
