{% load i18n %}
{% load report %}
{% if reports %}
    {% include 'lgr_models/_report_warning.html' %}
    <ul>
        {% for report in reports %}
            <li>
                <form method="post"
                      action="{{ report.delete_url }}?next={{ request.path }}">
                    {% csrf_token %}
                    <a href="{{ report.to_url }}">
                        {% trans 'Download' %} {{ report.filename }}
                    </a>
                    <button type="submit"
                            class="delete_report confirm-prompt btn-link"
                            data-confirmation-prompt="{% blocktrans %}Are you sure you want to delete report {{ report.filename }}?{% endblocktrans %}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </form>
                <small>{{ report|display_expiration }}</small>
            </li>
        {% endfor %}
    </ul>
    <br>
{% endif %}