{% extends "_base.html" %}
{% load i18n widget_tweaks %}

{% block html_title %}{% trans 'IDN Table Review' %}{% endblock %}

{% block navbar-right %}
    <a class="header-link" href="{% url 'lgr_modes' %}">{% trans "Switch mode" %}</a>
    {{ block.super }}
{% endblock %}

{% block content-title %}
    {% trans "IDN Table Review" %}
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">{% trans 'IDN table' %}</th>
                <th scope="col">{% trans 'LGR to review against' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for field in form %}
                {% if field.html_name != 'email' %}
                    <tr>
                        <td>{{ field.html_name }}</td>
                        <td>{% include "lgr_editor/_form_field_no_label.html" with field=field %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% include "lgr_editor/_form_field_no_label.html" with field=form.email %}
        <button id="submit" type="submit" class="btn btn-primary btn-block">{% trans "Review" %}</button>
    </form>
{% endblock content %}
