{% extends "_base.html" %}
{% load i18n static %}
{% block html_title %}{% trans 'LGR Label Validation Tool' %}{% endblock %}
{% block navbar-right %}
    <a class="btn btn-default show-tooltip"
       data-toggle="modal" data-target="#label-forms-modal"
       title="{% trans 'Display all label forms' %}" data-placement="bottom">
        <i class="glyphicon glyphicon-text-size"></i> {% trans "Label forms" %}
    </a>
    {{ block.super }}
{% endblock %}

{% block html_head_more %}
    {{ block.super }}
    {% include "lgr_validator/_validated_style.html" %}
{% endblock %}

{% block container %}
    <div class="container" id="content-basic">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 validate-label-simple-form">
                <h1>{% trans "Label Validation Tool" %}</h1>
                <hr class="header-sep"/>
                {{ form.media }}
                <form class="form-horizontal validate-label" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div id="timeout-error" class="alert alert-danger" style="display: none;">
                        {% blocktrans trimmed %}
                            The server was unable to complete the request, most likely because too many resources were
                            required to compute the query.
                            If you check for collision, the result may be still processing.
                            Please wait before submitting again.
                        {% endblocktrans %}
                    </div>

                    <div id="general-error" class="alert alert-danger" style="display: none;">
                        {% trans 'A server error occurred.' %} ({% trans 'code:' %}
                        <span></span>). {% trans 'Please contact the administrator before submitting again.' %}
                    </div>

                    <div id="process-error" style="display: none;">
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-lg-4 control-label">
                            {% trans 'Validate label(s) against' %}
                        </label>
                        <div class="col-sm-8 col-lg-8">
                            {% include "lgr_editor/_form_field.html" with field=form.lgr %}
                            <span class="text-secondary">
                                    {% trans 'View LGR as' %}
                                    <a href="" id="xmlLink" target="_blank" rel="noopener noreferrer">XML</a> |
                                    <a href="" id="renderLink" target="_blank" rel="noopener noreferrer">HTML</a>
                                </span>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group" id="form-upload-label">
                        <div class="col-sm-12">
                            <a class="upload-labels-list action" href="javascript:;">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                {% trans 'Manually input label(s)' %}
                            </a>

                            {% include "lgr_editor/_form_field.html" with field=form.labels_file %}
                        </div>
                    </div>


                    <div class="form-group" id="form-text-label">
                        <div class="col-lg-12">
                            <a href="javascript:;" class="upload-labels-list action">
                                <span class="glyphicon glyphicon-pencil"
                                      aria-hidden="true"></span>{% trans 'Upload a list of labels' %}
                            </a>
                        </div>
                        <div class="labels-text-list">
                            <div class="label-text">
                                <div class="col-lg-11 col-xs-10 labels-col">
                                    {% include "lgr_editor/_form_field.html" with field=form.labels %}
                                </div>
                                <div class="col-lg-1 col-xs-2 labels-text-action labels-col">
                                    <span onClick="addLabel()" class="add-label action glyphicon glyphicon-plus-sign"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 checkbox">
                            <label>
                                {% include "lgr_editor/_form_field.html" with field=form.collisions %}
                                <span>
                                    {% trans 'Check for collision with existing TLDs' %}
                                </span>
                            </label>
                        </div>
                    </div>
                    {% if validation_task and collision_task %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-success">
                                    {% url 'list_process' as task_status_url %}
                                    {% blocktrans trimmed  %}
                                      Your request was sent successfully, the collision and validation tasks
                                      processing can take minutes, even hours.<br>
                                      You can follow your task progression on the
                                      <a href="{{ task_status_url }}">task status page</a>.
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    {% elif validation_task %}
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="alert alert-success">
                            {% url 'list_process' as task_status_url %}
                            {% blocktrans trimmed  %}
                              Your request was sent successfully, the validation task processing can take
                              minutes, even hours.<br>
                              You can follow your task progression on the
                              <a href="{{ task_status_url }}">task status page</a>.
                            {% endblocktrans %}
                          </div>
                        </div>
                      </div>
                    {% elif collision_task %}
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="alert alert-success">
                            {% url 'list_process' as task_status_url %}
                            {% blocktrans trimmed  %}
                              Your request was sent successfully, the collision task processing can take
                              minutes, even hours.<br>
                              You can follow your task progression on the
                              <a href="{{ task_status_url }}">task status page</a>.
                            {% endblocktrans %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    <button class="btn btn-primary btn-block" id="validate-label-form">
                        {% trans 'Validate' %}
                    </button>
                </form>

                <div id="results">
                    {% for result in results %}
                        {% include "lgr_validator/_validated_results.html" with result=result lgr_object=lgr_object index=forloop.counter only %}
                    {% endfor %}
                </div>

                {% if reports %}
                    <hr>
                    <b>{% trans 'Your saved results' %}</b>
                    <p>{% trans 'The following files contains your tools computation results.' %}</p>
                    <b>
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        {% trans 'Note that these files could be cleaned up regularly.' %}
                    </b>
                    <ul>
                        {% for report in reports %}
                            <li>
                                <a href="{{ report.to_url }}?next={{ request.path }}">
                                    {% trans 'Download' %} {{ report.filename }}
                                </a>
                                <a href="{{ report.delete_url }}?next={{ request.path }}"
                                   data-confirmation-prompt="{% blocktrans %}Are you sure you want to delete report {{ report.filename }}?{% endblocktrans %}"
                                   class="delete_report confirm-prompt">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                {% endif %}
            </div>
        </div>

        {% block footer %}
            {{ block.super }}
        {% endblock %}

    </div> <!-- /container -->
{% endblock container %}

{% block html_body_more %}
    <!-- Label forms Modal -->
    {% include 'lgr_advanced/_label_forms_modal.html' %}

    <div class="fade-blocking">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <script>
        var isFormUploadActivated = false;

        $("#id_lgr").change(() => {
            changeRzValue();
        });

        function changeRzValue() {
            const val = $('#id_lgr').val();
            // val is a tuple "('lgr_model', 'lgr_pk')"
            match = val.match(/['"]\w+\.(\w+)['"], ?([0-9]+)/)


            let renderLink = `{% url 'lgr_render' model='tbd' lgr_pk=0 %}`;
            renderLink = renderLink.replace('tbd', match[1]).replace('0', match[2]).toLowerCase().replace('model', '');
            $('#renderLink').attr('href', renderLink);

            let xmlLink = `{% url 'lgr_display' model='tbd' lgr_pk=0 %}`;
            xmlLink = xmlLink.replace('tbd', match[1]).replace('0', match[2]).toLowerCase().replace('model', '');
            $('#xmlLink').attr('href', xmlLink);
        }

        function cleanInput(input) {
            input.closest('.col').find('input').val('');
        }

        function buttonValidateEnabled() {
            const isCheckForCollision = isFormUploadActivated === true || ($('#check-for-collision').is(':checked') && $('.label-text').length > 1);
            let emptyLabel = false;

            if (isFormUploadActivated === false) {
                $('.form-label').each((index, el) => {
                    if ($(el).val() === '') {
                        emptyLabel = true;
                        return;
                    }
                })
            } else if (isFormUploadActivated === true) {
                if ($('#file-upload').val() === '') {
                    return setButtonStatusEnabled(false);
                }
            }

            if (emptyLabel === true) {
                return setButtonStatusEnabled(false);
            }

            return setButtonStatusEnabled(true);
        }

        function setButtonStatusEnabled(isEnabled) {
            if (isEnabled === false) {
                $('#validate-label-form').attr('disabled', 'disabled');
            } else {
                $('#validate-label-form').removeAttr('disabled');
            }
        }

        function removeLabel(el) {
            $(el).parent().parent().remove();
            $('.add-label').last().css('display', 'inline-block');
            buttonValidateEnabled();
        }

        function parseLabelsStart(labelsList) {
            const labels = labelsList.split(';');
            if (labels.length > 1) {
                for (var i = 0; i < labels.length; i++) {
                    if (i > 0) {
                        addLabel();
                    }
                    $('.form-label').eq(i).val(labels[i]);
                }
            }

            buttonValidateEnabled();
        }

        function addLabel() {
            const removeLabelStruct = '<span onClick="removeLabel(this)" class="remove-label action glyphicon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>';
            const newLabel = $('.label-text').first().clone();

            $('.add-label').each((index, el) => {
                $(el).css('display', 'none');
            });

            $('.labels-text-list').append(
                newLabel
                    .find('input')
                    .val('')
                    .parent()
                    .parent()
                    .parent()
                    .parent()
                    .find('.labels-text-action')
                    .prepend(removeLabelStruct)
                    .parent()
            );

            $('.add-label').last().css('display', 'inline-block');
            buttonValidateEnabled();
        }

        buttonValidateEnabled();

        function OnloadFunction(coll_enabled) {
            $('#check-for-collision').prop('checked', coll_enabled)
            $('.add-label').last().css('display', 'inline-block');
            parseLabelsStart($('#id_labels').val());
            changeRzValue();
            $('.search-clear').click(() => {
                buttonValidateEnabled();
            });

            $('form.validate-label').submit((e) => {
                e.preventDefault();

                // Set post data
                const sendData = [];
                let data = $('form.validate-label').serializeArray();
                let labelString = '';
                data.forEach((el) => {
                    if (el.name === 'labels' && !isFormUploadActivated) {
                        labelString += el.value + ';';
                    } else if (el.name === 'lgr') {
                        sendData.push({name: 'lgr', value: el.value})
                    }
                });

                if (data.find((el) => el.name === 'collisions')) {
                    sendData.push({name: 'collisions', value: true});
                    coll_enabled = true;
                } else {
                    sendData.push({name: 'collisions', value: false});
                    coll_enabled = false;
                }

                sendData.push({
                    name: 'csrfmiddlewaretoken',
                    value: data.find((el) => el.name === 'csrfmiddlewaretoken').value
                });
                if (labelString !== '') {
                    sendData.push({name: 'labels', value: labelString.slice(0, -1)});
                }

                const formData = new FormData();
                if (isFormUploadActivated) {
                    var file = $('#id_labels_file').get(0).files[0];
                    formData.append('labels_file', file);
                }

                sendData.forEach((el) => {
                    formData.append(el.name, el.value);
                });

                $('#validate-label-form').attr('disabled', 'disabled');
                $('.fade-blocking').css('display', 'block');
                $('#results').css('display', 'none');
                $('#timeout-error').css('display', 'none');
                $('#general-error').css('display', 'none');
                $('#process-error').css('display', 'none');
                console.log(sendData)

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: window.location.pathname,
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType: "HTML",
                    success: (response) => {
                        $("#content-basic").html($(response).filter('#content-basic').html());
                        if ($(response).filter('#messages').length) {
                          $('#process-error').css('display', 'block');
                          $("#process-error").html($(response).filter('#messages').html());
                        }
                        $('.fade-blocking').css('display', 'none');
                        OnloadFunction(coll_enabled);
                    },
                    error: (error) => {
                        console.error(error);
                        if (error && (error.status === 502 || error.status === 504)) {
                            $('#process-error').css('display', 'none');
                            $('#timeout-error').css('display', 'block');
                        } else {
                            $('#process-error').css('display', 'none');
                            $('#timeout-error').css('display', 'none');
                            $('#general-error').css('display', 'block');
                            $('#general-error').find("span").html(error ? error.status : null);
                        }
                        $('.fade-blocking').css('display', 'none');
                        {# FIXME: replace the logic of the view to only return content for the result part here #}
                        sessionStorage.setItem('isFormUploadActivated', false);
                        OnloadFunction(coll_enabled);
                    }
                })
            });

            if (sessionStorage.getItem('isFormUploadActivated') === 'true') {
                isFormUploadActivated = true;
                $('#form-upload-label').css('display', 'block');
                $('#form-text-label').css('display', 'none');
            }

            $('.upload-labels-list').click(() => {
                isFormUploadActivated = !isFormUploadActivated;

                if (isFormUploadActivated === true) {
                    $('#form-upload-label').css('display', 'block');
                    $('#form-text-label').css('display', 'none');
                } else {
                    $('#form-upload-label').css('display', 'none');
                    $('#form-text-label').css('display', 'block');
                }

                sessionStorage.setItem('isFormUploadActivated', isFormUploadActivated);

                buttonValidateEnabled();
            });

            $('#check-for-collision').change(function () {
                buttonValidateEnabled();
            });

            $('.validate-label input').keyup(() => {
                buttonValidateEnabled();
            });

            $('.validate-label input').change(() => {
                buttonValidateEnabled();
            });

            $('.datepicker').datepicker({
                dateFormat: "yy-mm-dd"
            });
            $('.show-tooltip').tooltip();
        }


        jQuery(document).ready(function ($) {
            OnloadFunction(false);
        });
    </script>
{% endblock %}





