{% extends "_base.html" %}
{% load i18n widget_tweaks %}

{% block html_title %}{% trans 'IDN Table Review reports' %}{% endblock %}

{% block content-title %}
    {% trans "IDN Table Review Reports" %}
    <button type="button" class="btn btn-default" onClick="window.location.reload();">
        <i class="glyphicon glyphicon-refresh"></i>
    </button>
{% endblock %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            The following folders contains your IDN review reports.<br/>
            <strong><i class="glyphicon glyphicon-alert"></i> Note that these files could be cleaned up
                regularly.</strong>
        {% endblocktrans %}
    </p>
    <ul>
        {% regroup reports by report_id as report_ids %}
        {% for reports_grouped in report_ids %}
            <li>
              {% with report=reports_grouped.list|first %}
                {% with report_id=report.report_id %}
                  <form id="form-delete-{{ forloop.counter }}" method="post"
                        action="{% url "lgr_review_delete_report" report_id=report_id %}?next={{ request.path }}">
                    {% csrf_token %}
                  </form>
                  <a href="{% url 'lgr_review_report' report_id %}">{{ report_id }}</a>
                  <a href="#"
                     class="delete_report confirm-prompt"
                     data-confirmation-prompt="{% blocktrans %}Are you sure you want to delete report {{ report_id }}?{% endblocktrans %}"
                     data-confirmation-action="$('#form-delete-{{ forloop.counter }}').submit()">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                {% endwith %}
              {% endwith %}
            </li>
        {% empty %}
            {% url 'list_process' as task_status_url %}
            {% blocktrans trimmed  %}
            No report yet, please check the <a href="{{ task_status_url }}">tasks</a> and refresh.
            {% endblocktrans %}
        {% endfor %}
    </ul>
    <br>
    <a class="btn btn-primary" href="{% url 'lgr_review_mode' %}">{% trans "New report" %}</a>
{% endblock content %}
