{% extends "lgr_advanced/_base.html" %}
{% load i18n static %}

{% block html_title %}{{ lgr.name|title }}{% endblock %}

{% block content %}
    {% if lgr_set_id %}
        {% url 'codepoint_list' lgr_set_id lgr_id as codepoint_list_url %}
        {% url 'references' lgr_set_id lgr_id as references_url %}
        {% url 'metadata' lgr_set_id lgr_id as metadata_url %}
        {% url 'tags' lgr_set_id lgr_id as tags_url %}
        {% url 'rules' lgr_set_id lgr_id as rules_url %}
    {% else %}
        {% url 'codepoint_list' lgr_id as codepoint_list_url %}
        {% url 'references' lgr_id as references_url %}
        {% url 'metadata' lgr_id as metadata_url %}
        {% url 'tags' lgr_id as tags_url %}
        {% url 'rules' lgr_id as rules_url %}
    {% endif %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% block pane-cp-active %}{% endblock %}">
            <a href="{{ codepoint_list_url }}">{% trans "Code points" %}</a>
        </li>
        <li role="presentation" class="{% block pane-ref-active %}{% endblock %}">
            <a href="{{ references_url }}">{% trans "References" %}</a>
        </li>
        <li role="presentation" class="{% block pane-md-active %}{% endblock %}">
            <a href="{{ metadata_url }}">{% trans "Meta data" %}</a>
        </li>
        <li role="presentation" class="{% block pane-tag-active %}{% endblock %}">
            <a href="{{ tags_url }}">{% trans "Tags" %}</a>
        </li>
        <li role="presentation" class="{% block pane-rules-active %}{% endblock %}">
            <a href="{{ rules_url }}">{% trans "Rules" %}</a>
        </li>
        {% if is_set and not lgr_set_id %}
        {# Merged LGR set: show all LGRs in the set #}
        <li role="presentation" class="{% block pane-embedded-active %}{% endblock %}">
            <a href="{% url 'embedded_lgrs' lgr_id %}">{% trans "Embedded LGRs" %}</a>
        </li>
        {% endif %}
    </ul>

    <div>
    {% block content-pane %}
    {% endblock content-pane %}
    </div>
{% endblock content %}

{% block html_body_more %}
{{ block.super }}
<script type="text/javascript" src="{% static 'lgr_editor/js/editor.js' %}"></script>
{% endblock html_body_more %}
