{% extends "lgr_advanced/_base.html" %}
{% load i18n static %}

{% block html_title %}{{ lgr.name|title }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% block pane-cp-active %}{% endblock %}">
            <a href="{% url 'codepoint_list' lgr_pk=lgr_object.pk model=lgr_object.model_name %}">{% trans "Code points" %}</a>
        </li>
        <li role="presentation" class="{% block pane-ref-active %}{% endblock %}">
            <a href="{% url 'references' lgr_pk=lgr_object.pk model=lgr_object.model_name %}">{% trans "References" %}</a>
        </li>
        <li role="presentation" class="{% block pane-md-active %}{% endblock %}">
            <a href="{% url 'metadata' lgr_pk=lgr_object.pk model=lgr_object.model_name %}">{% trans "Meta data" %}</a>
        </li>
        <li role="presentation" class="{% block pane-tag-active %}{% endblock %}">
            <a href="{% url 'tags' lgr_pk=lgr_object.pk model=lgr_object.model_name %}">{% trans "Tags" %}</a>
        </li>
        <li role="presentation" class="{% block pane-rules-active %}{% endblock %}">
            <a href="{% url 'rules' lgr_pk=lgr_object.pk model=lgr_object.model_name %}">{% trans "Rules" %}</a>
        </li>
        {% if is_set and not lgr_set %}
        {# Merged LGR set: show all LGRs in the set #}
        <li role="presentation" class="{% block pane-embedded-active %}{% endblock %}">
            <a href="{% url 'embedded_lgrs' lgr_pk=lgr_object.pk %}">{% trans "Embedded LGRs" %}</a>
        </li>
        {% endif %}
    </ul>

    <div>
    {% block content-pane %}
    {% endblock content-pane %}
    </div>
{% endblock content %}

{% block html_body_more %}
{{ block.super }}
<script type="text/javascript" src="{% static 'lgr_editor/js/editor.js' %}"></script>
{% endblock html_body_more %}
