{% load i18n lgr_advanced%}

{% regroup lgrs|sort_by_is_set by group_key as lgrs_sorted %}
<ul>
    {% for local_lgrs in lgrs_sorted %}
        {% if local_lgrs.grouper %}
            <li>{% trans 'Sets:' %}
                <ul>
        {% endif %}
        {% for lgr_obj in local_lgrs.list %}
            <li>
                <a href="{% url 'codepoint_list' lgr_pk=lgr_obj.pk model=lgr_obj.model_name %}">{% blocktrans with lgr_name=lgr_obj.name %}{{ lgr_name }}{% endblocktrans %}</a>
            </li>
        {% endfor %}
        {% if local_lgrs.grouper %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<br>