{% extends "lgr_editor/_editor_base.html" %}
{% load i18n static cache %}
{% block html_head_more %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
    <style>
        .dataTables_length, .dataTables_filter {
            margin-left: 10px;
            margin-top: 8px;
        }
        tbody tr.invalid td {
            background-color: #ff000033 !important;
        }
    </style>
{% endblock %}

{% block pane-cp-active %}active{% endblock %}

{% block content-pane %}
    {% if not is_set %}
        <div class="text-right" id="add-codepoint">
            <div id="populate-button" style="display: none">
                {% url 'populate_variants' lgr_pk=lgr_pk as populate_variants_url %}
                <a href="{{ populate_variants_url }}" class="btn btn-primary" title="Populate the symmetric and transitive variants"> {% trans "Populate variants" %}</a>
            </div>
            {% if has_range %}
                {% url 'expand_ranges' lgr_pk=lgr_pk as expand_ranges_url %}
                <a href="{{ expand_ranges_url }}" class="btn btn-primary" title="Expand all ranges" >{% trans "Expand range(s)" %}</a>
            {% endif %}
            <a href="#" class="btn btn-primary show-iframe-button" data-toggle="modal" data-target="#add-codepoint-modal">{% trans "Add code point(s)" %}</a>
        </div>
    {% endif %}

    <form method="POST" id="form-codepoints" action="">
        {% csrf_token %}

        <table id="codepoints" class="display">
            <thead>
                <tr>
                    {% if not is_set %}<th><input type="checkbox" name="select_all" id="select-all-cp"></th>{% endif %}
                    <th>{% trans "Code point" %}</th>
                    <th>{% trans "Character Name" %}</th>
                    <th>{% trans "Tags" %}</th>
                    <th>{% trans "Comments" %}</th>
                    <th>{% trans "Action" %}</th>
                </tr>
            </thead>
        </table>

        <div class="modal fade" id="add-rule-modal">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 800px;">
                    <div class="modal-header">
                        <button type="button" id="close-add-rule-modal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Add Rule" %}</h4>
                    </div>
                    <div class="modal-body" id="add-rule-model-body">
                        {% if edit_codepoints_form.fields.when.choices|length < 2 %}  {# even if no rule there is at least the empty choice #}
                            <p>
                                <i class="glyphicon glyphicon-info-sign"></i>{% trans 'There is no rule in the current LGR' %}
                            <p>
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
                            </div>
                        {% else %}
                            {% include "lgr_editor/_form_field.html" with field=edit_codepoints_form.when %}
                            {% include "lgr_editor/_form_field.html" with field=edit_codepoints_form.not_when %}
                            <div class="col-sm-12 text-right">
                                {% blocktrans trimmed %}
                                    <p>This rule will be added to <b><span class="nbr-selected"></span> codepoint(s)</b></p>
                                {% endblocktrans %}
                                <button name="add-rules" id="btn-add-rules" type="submit" class="btn btn-primary">{% trans "Next" %}</button>
                            </div>
                        {% endif %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="add-tags-modal">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 800px;">
                    <div class="modal-header">
                        <button type="button" id="close-add-tags-modal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Add Tags" %}</h4>
                    </div>
                    <div class="modal-body" id="add-tags-model-body">
                        {% include "lgr_editor/_form_field.html" with field=edit_codepoints_form.tags %}
                        <div class="col-sm-12 text-right">
                            {% blocktrans trimmed %}
                                <p>These tags will be added to <b><span class="nbr-selected"></span> codepoint(s)</b></p>
                            {% endblocktrans %}
                            <button name="add-tags" id="btn-add-tags" type="submit" class="btn btn-primary">{% trans "Next" %}</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </form>

    {#### BEGIN add codepoint modal ####}
    {% if not is_set %}
    <div class="modal fade" id="add-codepoint-modal">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px;">
                <div class="modal-header">
                    <button type="button" id="close-add-cp-modal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add code point(s)" %}</h4>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#addcp" aria-controls="addcp" role="tab" data-toggle="tab">{% trans "Code point" %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#addrange" aria-controls="addrange" role="tab" data-toggle="tab">{% trans "Code point range" %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#addfromscript" aria-controls="addfromscript" role="tab" data-toggle="tab">{% trans "Code point from script" %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#import" aria-controls="import" role="tab" data-toggle="tab">{% trans "Import from file" %}</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="addcp">
                            <br>
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% include "lgr_editor/_form_field.html" with field=cp_form.codepoint label_width=4 field_width=8 %}
                                {% include "lgr_editor/_form_field_checkbox.html" with field=cp_form.override_repertoire label_width=4 field_width=8 %}
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-primary" name="add_cp">{% trans "Add Code Point" %}</button>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="addrange">
                            <iframe id="range-iframe" data-url="{% url 'add_range' lgr_pk %}" width="100%" style="border: none;"></iframe>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="addfromscript">
                            <iframe id="from-script-iframe" data-url="{% url 'add_from_script' lgr_pk %}" width="100%" style="height: 400px; border: none;"></iframe>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="import">
                            <iframe id="import-file-iframe" data-url="{% url 'import_from_file' lgr_pk %}" width="100%" style="border: none;"></iframe>
                        </div>
                    </div>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% endif %}
    {#### END add codepoint modal ####}

{% endblock content-pane %}

{% block html_body_more %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
    <script type="text/javascript">
        var cp_table;
        jQuery(document).ready(function($) {
            $("#add-codepoint-modal")
                    .on('show.bs.modal', function(event) {
                        // reset iframe URLs whenever modal is shown (so we won't get stale content)
                        $(this).find('iframe').each(function() {
                            this.src = $(this).data('url');
                        });
                    })
                    .on('shown.bs.modal', function(event) {
                        // resize iframes
                        var modal_body = $(this).find(".modal-body");
                        $("#range-iframe").outerHeight(modal_body.height() - modal_body.find(".nav-tabs").outerHeight() - 5);
                        $("#import-file-iframe").outerHeight(modal_body.height() - modal_body.find(".nav-tabs").outerHeight() - 5);
                        $("#from-script-iframe").outerHeight(modal_body.height() - modal_body.find(".nav-tabs").outerHeight() - 5);
                    })
                    .on('hide.bs.modal', function(event) {
                        ['import-file-iframe', 'from-script-iframe'].forEach(function(frame) {
                            var iframe = $('#' + frame);
                            var tmp_lgr = $('#id_tmp_lgr', iframe.contents()).attr('value');
                            if (tmp_lgr) {
                                let url = '{% url "delete_lgr" lgr_pk=42 %}'.replace('42', tmp_lgr);
                                $.ajax({
                                    type: "GET",
                                    url: url
                                });
                            }
                        })
                    });

            $("#codepoints tr[data-url]").click(function() {
                window.location.href = $(this).data('url');
            });

            cp_table = $('#codepoints').DataTable({
                "ajax": "{% url 'codepoint_list_json' lgr_pk=lgr_object.pk model=lgr_object.model_name %}",
                "responsive": true,
                "info": false,
                "scrollX": false,
                "lengthMenu": [[500, 1000, -1], [500, 1000, "All"]],
                "fnCreatedRow": function (row, data, idx) {
                    // Add ids on rows to be able to select them on reload after post
                    $(row).attr('id', 'cp-' + data['codepoint_id'])
                    if(!data['idna_valid']) {
                        $(row).addClass('invalid');
                    }
                },
                "columns": [
                {% if not is_set %}
                {
                    "data": null,
                    "defaultContent": "",
                    "orderable": false,
                    "className": "select-checkbox"
                },
                {% endif %}
                {
                    "data": "cp_disp",
                    "render": function(data, type, row) {
                        if (!row.is_range) {
                            {% trans "Variant(s)" as variant_trans %}
                            return data + ' <span class="variant_count">' + row.variant_number + '&nbsp;{{ variant_trans|escapejs }}</span>'
                        }
                        return data
                    }
                }, {
                    "data": "name"
                }, {
                    "data": "tags"
                }, {
                    "data": "comment"
                }, {
                    "data": "actions",
                    "orderable": false,
                    "searchable": false,
                    "render": function(data, type, row) {
                        out = ''
                        if (row.actions.length > 0) {
                          {% trans "See code point" as see_cp_trans %}
                          out += '<a href="' + row.actions[0] + '" class="btn btn-primary btn-block">{{ see_cp_trans|escapejs }}</a>'
                          if (row.is_range) {
                              {% trans "Expand range" as expand_range_trans %}
                              out += '<a href="' + row.actions[1] + '" class="btn btn-primary btn-block">{{ expand_range_trans|escapejs }}</a>'
                          }
                        }
                        return out
                    }
                }],
                {% if not is_set %}
                    "select": {
                        "style": "multi",
                        "selector": "td:first-child"
                    },
                    "order": [[ 1, "asc" ]],
                {% endif %}
                "dom": '<"action-buttons">lfrtip',
                {% if edit_codepoints_form.cp_id.value %}
                    // select previously selected rows when reloading after post
                    "initComplete": function(rows) {
                        var selected = [{% for v in edit_codepoints_form.cp_id.value %}'{{ v }}'{% if not forloop.last %},{% endif %}{% endfor %}]
                        for (var row_id in selected) {
                            var row = this.api().row('#cp-' + selected[row_id])
                            row.select()
                        }
                    }
                {% endif %}
            });
            $('#codepoints').addClass('table table-striped table-bordered')
            {% if not is_set %}
                $("div.action-buttons").html(`
                    <div style="float: left; margin-bottom: 10px; padding-right: 10px; border-right: 2px solid silver;">
                        <select class="form-control" id="codepoints_actions" name="actions" aria-controls="codepoints">
                            <option value="-1" disabled selected>{%  trans "➡ Select code point(s) to apply batch action..." %}</option>
                            <option value="add-rule">{% trans "Add WLE" %}</option>
                            <option value="add-tags">{% trans "Add Tags" %}</option>
                        </select>
                    </div>
                `);
                $('#codepoints_actions').disabled = true
                function handleSelectAll () {
                    // handle total number of selected cp
                    var total_selected = cp_table.rows({'selected': true}).count()
                    {% if not is_set %}
                        if (total_selected === 0) {
                            $('#codepoints_actions').attr('disabled', '')
                        } else {
                            $('#codepoints_actions').removeAttr('disabled')
                        }
                    {% endif %}
                    $('.nbr-selected').text(total_selected)
                    // handle select all button
                    var nbr_selected = cp_table.rows({'search': 'applied', 'selected': true}).count()
                    // handle button display
                    if (nbr_selected > 0){
                        $('#codepoints_actions option')[0].text = '{%  trans "➡ Apply batch action..." %}'
                    } else {
                        $('#codepoints_actions option')[0].text = '{%  trans "➡ Select code point(s) to apply batch action..." %}'
                    }
                    var select_all = $('#select-all-cp')
                    if(nbr_selected === cp_table.rows({'search': 'applied'}).count()) {
                        select_all.get(0).indeterminate = false
                        select_all.get(0).checked = true
                    } else if (nbr_selected === 0) {
                        select_all.get(0).indeterminate = false
                        select_all.get(0).checked = false
                    } else {
                        select_all.get(0).indeterminate = true
                        select_all.get(0).checked = true
                    }
                }
                cp_table.on('select deselect', function () {
                    handleSelectAll()
                })
                cp_table.on('search.dt', function() {
                    handleSelectAll()
                })
                $('#select-all-cp').on('click', function() {
                    var rows = cp_table.rows({'search': 'applied'})
                    if (this.checked) {
                        rows.select()
                    } else {
                        rows.deselect()
                    }
                    handleSelectAll()
                });
                $('#form-codepoints').on('submit', function(e){
                    var form = this
                    var rows_selected = cp_table.rows({'selected': true}).data()

                    $.each(rows_selected, function(index, row){
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', 'edit_codepoints-cp_id')
                                .val(row['codepoint_id'])
                        )
                    })
                })
                {% if edit_codepoints_form.errors and request.POST %}
                    {% if 'add-rules' in request.POST %}
                        $('#add-rule-modal').modal('show')
                    {% endif %}
                    {% if 'add-tags' in request.POST %}
                        $('#add-tags-modal').modal('show')
                    {% endif %}
                {% endif %}
                $('#codepoints_actions').on('change', function (event) {
                    var modal_id = '#' + $(this).val() + '-modal'
                    $(modal_id).modal('show')
                    $(this).val('-1')
                })
                var tag_input = $('select[name="edit_codepoints-tags"]')
                tag_input.select2({
                    tags: true,
                    tokenSeparators: [" "],
                    width: '100%'
                });
                // Reset selection
                tag_input.val(null).trigger('change');
                // Test if we need to display the "Populate variants" button
                $.get('{% url "populate_variants" lgr_pk %}' + '?test',
                    function(json) {
                        if (!json.result) {
                            $('#populate-button').show(200);
                        }
                    });
            {% endif %}
        });
    </script>
{% endblock html_body_more %}
