{% extends "lgr_advanced/_base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Import existing LGR' %}</h1>
    <p>
        {% blocktrans trimmed %}
            To import LGR set, select the XML files composing the LGR set. The set will automatically be created.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
          <strong>
            <i class="glyphicon glyphicon-info-sign"></i> Import function will only perfom some basic checking (example: XML validity).
            Once the LGR has been imported, you need to use the <emph>Validate LGR</emph> button to do a complete check.
          </strong>
        {% endblocktrans %}
    </p>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "lgr_editor/_form_field.html" with field=form.file %}
        {% include "lgr_editor/_form_field.html" with field=form.validating_repertoire %}
        <div id="set_box">
            {% include "lgr_editor/_form_field.html" with field=form.set_name %}
        </div>
        <div id="set_error">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if lgrs %}
            <strong>{% trans "These LGRs are already imported. Click on one to access it." %}</strong>
            {% include "lgr_editor/_list_opened_lgrs.html" with lgrs=lgrs %}
        {% endif %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="text-right">
            <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
        </div>
    </form>

    <p>
        {% blocktrans trimmed %}
            <strong class="text-danger"><i class="glyphicon glyphicon-alert"></i> Note that importing large LGR files may take significant time to load on your browser.</strong>
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block html_body_more %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            function check_multi_files() {
                var files = $('#id_file').prop('files');
                if(files.length > 1) {
                    $('#set_box').show(500);
                    $("#id_set_name").prop('required', true);
                } else {
                    $('#set_box').hide(500);
                    $("#id_set_name").prop('required', false);
                }
            }
            $('#id_file').change(function(){check_multi_files()});
            $('#id_file').click(function(){$('#set_error').hide()});
            check_multi_files();
        });
    </script>
{% endblock html_body_more %}