{% extends "_base.html" %}
{% load i18n %}

{% block html_title %}{% trans 'ICANN IDN review tool' %}{% endblock %}

{% block content-title %}
    {% trans 'ICANN IDN review tool' %}
{% endblock %}

{% block content %}
    <form id="report-form" class="form-horizontal" action="{% url 'lgr_idn_icann_mode' %}"  method="post">
        {% csrf_token %}
        <button id="submit" type="submit" class="btn btn-primary btn-block" {% if messages %}disabled{% endif %}>
            {% trans "IDN Table Report" %}
        </button>
    </form>
    <br>
    <form id="report-form" class="form-horizontal" action="{% url 'lgr_idn_icann_compliance' %}"  method="post">
        {% csrf_token %}
        <button id="submit" type="submit" class="btn btn-primary btn-block" {% if messages %}disabled{% endif %}>
            {% trans "IDNA 2008 non-compliance Report" %}
        </button>
    </form>
    <hr>
    <h2>
        {% trans 'Previously generated reports' %}
        <button type="button" class="btn btn-default" onClick="window.location.reload();">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
    </h2>
    <ul>
        {% regroup reports by report_id as report_ids %}
        {% for reports_grouped in report_ids %}
            {% with report=reports_grouped.list|first %}
                <li>
                    <a href="{% url 'lgr_idn_icann_reports' report_id=report.report_id %}">
                        {% blocktrans with report.report_id as report_id %}{{ report_id }}{% endblocktrans %}
                    </a>
                    <a href="{% url 'delete_report_file' storage=report.storage report_id=report.report_id %}?next={{ request.path }}"
                       class="delete_report confirm-prompt"
                       data-confirmation-prompt="{% blocktrans with report.report_id as report_id %}Are you sure you want to delete report {{ report_id }}?{% endblocktrans %}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </li>
            {% endwith %}
        {% empty %}
            {% url 'list_process' as task_status_url %}
            {% blocktrans trimmed  %}
            No report yet, please check the <a href="{{ task_status_url }}">tasks</a> and refresh.
            {% endblocktrans %}
        {% endfor %}
    </ul>
{% endblock content %}